@font-face {
    font-family: 'Beer money';
    src: url('font/beer_money.eot');
    src: url('font/beer_money.eot?#iefix') format('embedded-opentype'),
         url('font/beer_money.woff') format('woff'),
         url('font/beer_money.ttf') format('truetype');
}
body {
	font-family: 'Beer money';
    width:1080px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #e9e9e9;
	font-size: 14px;

}
header {
	box-shadow: 0 0 10px 5px rgba(140, 140, 140, 1);
	width: 1080px;
	height: 100px;
	background-color: #4f4f4f;
}
#logo {
	margin-left: 40px;
	float: left;
}
#opisanie {
    color: #e9e9e9;
	float: right;
	width: 600px;
}
header h3 {
	margin-top: 7px;
	margin-bottom: 0px;	
}
header p {
	margin-top: 0px;
}
nav {
	font-size: 1.5em;
	color: #4f4f4f;
	box-shadow: 0 0 10px 5px rgba(140, 140, 140, 1);
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	width: 810px;
	background-color: #e9e9e9;
}
table {
	border-spacing: 12px;
    width: 1080px;
    margin-left:auto;
	margin-right:auto;
}
td{background-color: white;
    text-align: center;
}
table table {
	box-shadow: 0 0 10px 5px rgba(140, 140, 140, 1);
	width: auto;
	border-collapse: collapse; 
}
.kartinki {
	padding: 5px 5px 0px 5px;
}
.nazvanie {
	line-height: 70%;
	width:  172px;
	padding-left: 5px;
	font-size: 1.2em;
	text-align: left;
}
.razreshenie {
	line-height: 90%;
	font-size: 1.2em;
	text-align: right;
	padding-right: 5px;
}
footer {
	box-shadow: 0 0 10px 5px rgba(140, 140, 140, 1);
	width: 1080px;
	height: 50px;
	background-color: #4f4f4f;
}
footer p {
	text-align: center;
	padding-top: 20px;
	color: white;
}
footer a:link {
	border-bottom: 1px dotted;
	text-decoration: none;
	color: white;
}
footer a:visited {
	border-bottom: 1px dotted;
	text-decoration: none;
	color: white;
}
footer a:hover {
	border-bottom: none;
	color: black;
}
/*334*188*/апр